@model Opera.ViewModels.QuestionViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "_AppLayout";
    var idCopy = @Model.GetQuestion.QuestionId;
}

<div class="container_12">
    <div class="grid_7 question-box-style">
        <h1>@Model.GetQuestion.QuestionTitle.Substring(0, 1).ToUpper()@Model.GetQuestion.QuestionTitle.Substring(1, @Model.GetQuestion.QuestionTitle.Length-1)</h1>
        <div id="test"></div>
        <span class="upvote-box">
            <a href="#">Like</a>
        </span>
        <span class="report-box"><a href="/reportquestion/@Model.GetQuestion.QuestionId"><img src="/img/static/flag.png"></a></span>
        <span class="username-box"><a href="/u/@Model.UserFieldsInfo.UserName">@Model.UserFieldsInfo.UserName</a></span>
    </div>
    </div>
</div>
<div class="container_12">
    <div class="grid_7 answer-form">
        <form action="/addanswer/@idCopy" method="post">
            <textarea asp-for="AnswerContent"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<div class="container_12">
    <div id="answers" class="grid_7 answers-from-users">
        @foreach(var item in @Model.Answers)
        {
            <div class="single-answer">
                <p>@item.Content_Answer</p>
                <span class="upvote-box"><a href="#">Like</a></span>
                <span class="report-box"><a href="/reportanswer/@item.AnswerId"><img src="/img/static/flag.png"></a></span>
                <span class="username-box"><a href="/u/@Model.UserFieldsInfo.UserName">@Model.UserFieldsInfo.UserName</a></span>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    var x = "@(ViewBag.Contenido)";
    x = x.replace(new RegExp("&lt;", "g"), "<").replace(new RegExp("&gt;", "g"), ">").replace(new RegExp("&quot;", "g"), "\"").replace(new RegExp("&amp;quot;", "g"), "\"");
    document.getElementById("test").insertAdjacentHTML("beforeend", x);
</script>